.khoaanh{
	width: 1000px;
	height: 300px;
}

  
*{
	 padding: 0px;
	margin: 0px;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
     
  }
.carousel .item {
 	
    height: 450px;
    width: 970px;
	
   
}
 .affix {
      top: 0;
      width: 
  }

  .affix + .container-fluid {
      padding-top: px;
  }
input {
    background-color: #014590;
    color: white;
    border: none;
   
    width: 100%;
}
